*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, 0.24);
}

.iframe__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 70vh;
    padding: 32px;
    border-radius: 40px;
    z-index: 2048;
}

.centerized-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1024;
}

.menu-item {

    &__img {
        width: 128px;
        transition: filter 384ms linear;

        &:hover {
            filter: invert(39%) sepia(14%) saturate(1712%) hue-rotate(166deg) brightness(102%) contrast(88%);
        }
    }

    &__active {
        filter: invert(39%) sepia(14%) saturate(1712%) hue-rotate(166deg) brightness(102%) contrast(88%);
    }

    &__link {
        display: flex;
    }

    &__top-left {
        position: absolute;
        top: 50px;
        left: 32px;
    }

    &__top-center {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);

        & img {
            width: 150px;
        }
    }

    &__top-right {
        position: absolute;
        top: 50px;
        right: 32px;
    }

    &__bottom-left {
        position: absolute;
        bottom: 50px;
        left: 32px;
    }

    &__bottom-right {
        position: absolute;
        bottom: 50px;
        right: 32px;
    }
}

.slider-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(2px);
        z-index: 512;
    }
}

.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 512ms linear;

    &__img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.statement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 32px;
}

.statement-img {
    margin-right: 64px;

    &__img {
        width: 444px;
        height: auto;
        border: 6px double black;
        border-radius: 16px;
    }
}

.statement-title {

    &__p {
        font-family: "Arial";
        font-weight: 200;
        text-transform: uppercase;
        text-align: justify;
        line-height: 24px;
        color: white;
    }
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.gallery-wrapper {
    width: 256px;
    height: auto;
    margin: 32px;

    &:not(:last-of-type) {
        margin-right: 7px;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.32), -4px -4px 6px rgba(255, 255, 255, 0.32);
    }
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iframe__maps {
    width: 100%;
    height: 512px;
    filter: invert(100%) grayscale(10%);
    border: none;
    outline: none;
    padding: 32px;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 32px;

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 3;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.88);
        padding: 32px;
        border-radius: 8px;

        &:not(:last-of-type) {
            margin-right: 32px;
        }
    }

    &__fasicon {
        font-size: 32px;
        color: white;
    }

    &__subtitle {
        font-family: "Arial";
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        margin-top: 16px;
    }
}

@media screen and (max-width:1100px) {
    .statement {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 32px
    }

    .statement-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 64px;

        &__img {
            width: 100%;
            height: 384px;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:700px) {
    .contact-info {
        flex-flow: column wrap;

        &__block {
            width: 100%;
            margin-right: 0px;

            &:not(:last-of-type) {
                margin-bottom: 32px;
            }
        }
    }
}